<% set_title(t('group.discussion.index.title', :title => @group.title)) %>
<%= stylesheet_link_tag "groups" %>
<%= render :partial =>  'groups/heading' %>

<% content_for :heading do %>
  <h1>Discussions</h1>
  <p>Discussions intro text </p>
  <% if @user && @group.users.include?(@user) %>
    <%= link_to "Start a new discussion", new_group_comment_path %>
  <% end %>
<% end %>

<%= render :partial => "pagination" %>

<ul class="comment">
  <%= render  @group_comments  %>
</ul>

<%= render :partial => "pagination" %>
