<% set_title(t('group.discussion.index.title', :title => @group.title)) %>
<%= stylesheet_link_tag "groups" %>
<%= render :partial =>  'groups/heading' %>

<% content_for :heading do %>
  <h1><%= t('group.discussion.head') %></h1>
  <p><%= t('group.discussion.index.intro') %></p>
  <% if @user && @group.users.include?(@user) %>
    <%= link_to t('group.discussion.index.start'), new_group_comment_path %>
  <% end %>
<% end %>

<%= render :partial => "pagination" %>

<ul class="comment">
  <%= render  @group_comments  %>
</ul>

<%= render :partial => "pagination" %>
