<% set_title(t('group.discussion.new.title', :title => @group.title)) %>
<%= render :partial =>  'groups/heading' %>
<%= stylesheet_link_tag "groups" %>

<% content_for :heading do %>
  <% if @parent_comment %>
    <%= t('group.discussion.new.reply') %>
    <%= link_to @group_comment.grandparent.title, group_comment_path(:id => @group_comment.grandparent.id) %>
    <%= t('group.discussion.singular') %>.
  <% elsif @group_comment.new_record?  %>
    <h2><%= t('group.discussion.new.head') %></h2>
  <% end %>


<% end %>

<% if @parent_comment %> 
  <div class="group_comment_body parent">
    <%= render :partial => "comment_metadata", :locals => {:group_comment => @parent_comment} %>
  
    <%= @parent_comment.body %> 
  </div>
<% end %>

<%= render :partial => 'form' %>