<% 
if @group_comment.is_root?
  set_title(t('group.discussion.title_root', :id => @group_comment.id, :group => @group.title, :title => @group_comment.title))  
else
  set_title(t('group.discussion.title', :id => @group_comment.id, :group => @group.title, :title => @group_comment.grandparent.title))
end
%>

<%= stylesheet_link_tag "groups" %>
<%= render :partial =>  'groups/heading' %>

<% content_for :heading do %>
  <h1><%= t('group.discussion.head') %></h1>
  <%  if @group_comment.is_root? %>
    <h2><%= @group_comment.title %></h2>
    <%= link_to t('group.discussion.view_all'), group_comments_path %>
  <% else %>

     <%= t('group.discussion.viewing_comment') %> 
    <%= link_to @group_comment.grandparent.title, group_comment_path(:id => @group_comment.grandparent.id) %>
    <%= t('group.discussion.singular') %>

  <% end %>
<% end %>

<%= render :partial => @group_comment %>
