<ul>
 <% checkbox_disabled ||= false %>
  <li><%=t('group.preset.name') %>: <%= preset.name %> 
    <% if preset.group %><span class="deemphasize">
        (<%= t('group.preset.in_use_by') %> <%= link_to(preset.group.title, preset.group) %> <%= t('group.singular') %>)</span><% end %>
  </li>
  <li> <%=t('group.preset.geometry') %>: <%= preset.geometry.join(", ") %> </li>
  <li><%=t('group.preset.primary') %>: <%= "#{preset.tags.keys[0]}=#{ preset.tags.values[0]}"  %> </li>
  <% if preset.fields.count > 0 %>
    <li><%= t('group.preset.fields') %> :
      <ul class="indented">
        <li class="field_li"> 
          <label class="field_label"><%= t('group.preset.attribute') %></label>
          <label class="field_label"><%= t('group.preset.protected') %></label>
        </li>
        <%= render :partial => "groups/field", :collection => preset.fields, :locals => {:checkbox_disabled => checkbox_disabled } %>
      </ul>

    </li>
  <% end %>
</ul>