<% content_for :heading do %>
  <h1><%= t('group.plural').capitalize %></h1>
  <p><%= t 'group.index.about' %></p></p>
  <ul class='secondary-actions clearfix'>
    <li><%= link_to t('group.new.action'), new_group_path %></li>
  </ul>
<% end %>

<% if @user  %>
  <h3><%= t'groups.your_groups'%></h3>
  <% if @user.groups.count > 0 %>
    <ul>
      <%= render :partial =>'group', :collection => @user.groups %>
    </ul>
  <% end %>
<% end %>

<% if @user  %>
  <h3><%= t'groups.other_groups'%></h3>
  <ul>
    <%= render :partial =>'group', :collection => @groups - @user.groups %>
  </ul>
<% else %>
  <h3><%= t'groups.all_groups'%></h3>
  <ul>
    <%= render :partial =>'group', :collection => @groups %>
  </ul>
<% end %>

