<% set_title t('group.index.title') %>
<% content_for :heading do %>
  <h1><%= t('group.plural').capitalize %></h1>
  <p><%= t 'group.index.about' %></p></p>
  <ul class='secondary-actions clearfix'>
    <li><%= link_to t('group.new.action'), new_group_path %></li>
  </ul>
<% end %>

<% if @user  %>
  <h3><%= t'group.your_groups'%></h3>
  <% if @user.groups.count > 0 %>
    <ul>
      <%= render :partial =>'group', :collection => @user.groups %>
    </ul>
  <% end %>
<% end %>

<%= form_for :groups, :method => :get do%>
  <label for="query"><%= t 'group.index.search' %> :<input type="text" name="query" id="query" value="<%=@query%>"></label>
    <%= submit_tag "Search" %>
  <% end %>
  <% if !@query.blank? %>
  <h4><%= t 'group.index.results' %> : <%= @query %></h4>
<% end %>

<% if @user  %>
  <h3><%= t'group.other_groups'%></h3>
  <ul>
    <%= render :partial =>'group', :collection => @groups - @user.groups %>
  </ul>
<% else %>
  <h3><%= t'group.all_groups'%></h3>
  <ul>
    <%= render :partial =>'group', :collection => @groups %>
  </ul>
<% end %>

