<% set_title(t('group.preset.title')) %>

<% content_for :head do %>
  <%= stylesheet_link_tag "groups" %>
<% end %>

<% content_for :heading do %>
  <h1><%=t('group.preset.title') %> </h1>
  <p><%=t('group.preset.about') %> </p>
  <ul class='secondary-actions clearfix'>
    <% preset_editor_url = defined?(PRESET_EDITOR_URL) ? PRESET_EDITOR_URL : "" %>
    <li><%= link_to t('group.preset.editor'), preset_editor_url %></li>
  </ul>
<% end %>

  <div class="search">
    <%= form_for :presets_groups, :method => :get do%>
      <label for="query"><%= t 'group.preset.search' %>: <input type="text" name="query" id="query" value="<%=@query%>"></label>
      <%= submit_tag t('group.preset.search_button') %>
    <% end %>
    <% if !@query.blank? %>
      <h4><%= t 'group.index.results' %> : <%= @query %></h4>
    <% end %>
  </div>
<%= render :partial =>  'preset', :collection => @presets %> 
