<% set_title(t('group.schema.title', :title => @group.title)) %>

<% content_for :head do %>
  <%= stylesheet_link_tag "groups" %>
<% end %>

<%= render :partial =>  'heading' %>

<h1><%=t('group.schema.heading') %> </h1>
<% if @preset %>
  <%= form_tag :fields_group, :html => { :class => 'standard-form' } do %>
  
    <%= render :partial => "preset", :object => @preset %>
  
    <%= hidden_field_tag :preset_id,  @preset.id.to_s %>
    <%= submit_tag t('group.schema.update') %>
  <% end %>
<% end %>

<% if @user && @group.leadership_includes?(@user) || @user.administrator? %>  
  <h2><%= t('group.schema.choose')  %> </h2>

  <%= form_tag :schema_group, :html => { :class => 'standard-form' } do %>
    <div class="form-row">
      <p>
        <% if Preset.available.count == 0 %>
            <%= t('group.schema.no_found')%>
        <% end %>
      </p>

      <p>
        <label for="preset_preset_id"><%= t('group.schema.choice_label') %></label> 
        <%= collection_select :preset, :id, @available_presets, :id, :name, { :selected => @preset_id,include_blank: true} %>
      </p>

      <p>
        <%= submit_tag %>
      </p>
    </div>
  <% end %>
<% end %>
<p>
  <%= link_to t('group.schema.view_all'), presets_groups_path %>
</p>


