<% set_title(t('group.show.title', :title => @group.title)) %>

<%= render :partial => 'header' %>

<%= render :partial =>  'heading' %>

<%= content_tag "div", "", :id => "map", :class => "content_map" %>

<div class="activity-block column-1">
  <p><%= @group.description.to_html %></p>
</div>

<div class="activity-block column-1">
  <h2><%=  link_to t('group.discussion.latest'), group_comments_path(:group_id => @group.id) %></h2>
  <div id="diary-container">
    <ul class="comment">
      <% @group.root_comments.last(5).reverse.each do | root_comment |%>
        <li class="comment"><h4><%= link_to root_comment.title, group_comment_path(:group_id =>@group.id, :id=>root_comment.id) %></h4>
          <%= render :partial => "group_comments/comment_metadata", :locals => {:group_comment => root_comment, :group =>@group} %>

          <%= root_comment.body %> <br />
          <%= link_to t('group.discussion.replies', :count=>root_comment.children.count), group_comment_path(:group_id =>@group.id, :id=>root_comment.id) %>
        </li>
      <% end %>
    </ul>
    <%= link_to t('group.discussion.view_all'), group_comments_path(:group_id => @group.id) %>
  </div>
</div>

<% if @group.preset %>
  <div class="activity-block column-1">
    <h2><%= t('group.preset.attributes')%> </h2>
    <%= render :partial => "preset", :locals => {:preset =>@group.preset, :checkbox_disabled => true} %>
  </div>
<% end %>

<div class="activity-block column-1">
  <h2><%= t 'group.show.members' -%></h2>
  <div id="members-container">
    <%- @users = (@user && @group.leadership_includes?(@user)) ? @group.users  :  @group.active_users     -%>  
    (<%= t('group.members.count', :count => @users.count) %>)
    <%= render :partial => "user/contact", :collection => @users, :locals => {:type => "group_member"} %>
  </div>
</div>


<div class="activity-block column-1">
  <h2><%= link_to t('group.show.diary_entries'), :controller => 'diary_entry', :action => 'list', :group_id => @group.id, :page => 2 %></h2>
  <div id="diary-container">
    <%= render :partial => "diary_entry/diary_list_entry", :collection => DiaryEntry.where(:group_id => @group.id).limit(20) %>
  </div>
</div>


<div class="activity-block column-1">
  <h2><%= link_to t('group.show.stories'), :controller => 'stories', :action => 'index_group', :group_id => @group.id %></h2>
  <div id="diary-container">
    <%= render :partial => "stories/story", :collection => Story.where(:group_id => @group.id).limit(5) %>
  </div>
</div>
