<% content_for :head do %>
  <%= javascript_include_tag "group" %>
<% end %>

<%= render :partial =>  'heading' %>

<%= content_tag "div", "", :id => "map", :class => "content_map" %>

<div class="activity-block column-1">
  <p><%= @group.description.to_html %></p>
</div>

<div class="activity-block column-1">
  <h2><%= t 'group.show.members' -%></h2>
  <div id="members-container">
    <%-  @users = @group.leadership_includes?(@user) ? @group.users  :  @group.active_users     -%>  
    
    <%= render :partial => "user/contact", :collection => @users, :locals => {:type => "group_member"} %>
  </div>
</div>


<div class="activity-block column-1">
  <h2><%= link_to t('group.show.diary_entries'), :controller => 'diary_entry', :action => 'list', :group_id => @group.id, :page => 2 %></h2>
  <div id="diary-container">
    <%= render :partial => "diary_entry/diary_list_entry", :collection => DiaryEntry.where(:group_id => @group.id).limit(20) %>
  </div>
</div>


<div class="activity-block column-1">
  <h2><%= link_to t('group.show.stories'), :controller => 'stories', :action => 'index', :group_id => @group.id %></h2>
  <div id="diary-container">
    <%= render :partial => "stories/story", :collection => Story.where(:group_id => @group.id).limit(5) %>
  </div>
</div>
