<% content_for :head do %>
  <%= javascript_include_tag "story" %>
  <%= stylesheet_link_tag "story" %>
<% end %>

<%= error_messages_for 'story' %>

<%= form_for(@story) do |f| %>
  <div class="diary_entry standard-form story_form">

      <h1>1. Describe Your Report</h1>
      <div class='form-row'>
        <label class="standard-label"><%= t 'story.form.title' -%></label>
        <%= f.text_field :title, :class => "richtext_title" %>
      </div>
      <div class='form-row'>
        <label class="standard-label"><%= t 'story.form.description' -%></label>
        <div class="editor-wrapper">
          <%= f.text_area :description, :rows => 10, :class => 'editor' %>
        </div>
      </div>
      <div class="form-row clearfix">
        <div class='form-column'>
          <label class="standard-label"><%= t 'story.form.layout' -%></label>
          <%= f.select(:layout, options_for_select(["report"],"report") ) %>
        </div>
        <div class='form-column'>
          <label class="standard-label"><%= t 'story.form.language' -%></label>
          <%= f.select(:language, options_for_select(["en"],"en") ) %>
        </div>
        <div class='form-column'>
          <label class="standard-label"><%= t 'story.form.image_url' -%></label>
          <%= f.text_field :image_url, :class => "background_url", :value => "http://farm4.staticflickr.com/3687/12483987584_3b2a7cf09a_b.jpg"%>
        </div>
      </div>
 

    <h1>2. Select Your Map Layers</h1>
<!--      <div><%= t 'story.form.location_hint' -%></div> -->

        <%= f.hidden_field :latitude, :size => 20, :id => "latitude", :value =>  @lat %>
        <%= f.hidden_field :longitude, :size => 20, :id => "longitude", :value => @lon  %>
        <%= f.hidden_field :zoom, :size => 20, :id => "zoom", :value => @zoom %>

      <div>

      <label class="standard-label"><%= t 'story.form.layers' -%></label>

      <ol id="tiles-available" class="layers">
      <% Tile.overlays.each { |tile|
        if ! @story.layers.include?(tile.keyid) then
          image = tile.url.sub('/{z}/{x}/{y}.png',"/5/18/16.png") # image should be property of TileAPI        
          %><li id='<%= tile.keyid %>' class="layers">
            <img src='<%= image %>' /><span><%= tile.name %></span>
          </li>
        <% end
      } %>
      </ol>

      <ol id="tiles-chosen" class="layers" >
      <% @story.layers.each { |layer|
        Tile.overlays.each { |tile|
          if (layer == tile.keyid) then
            image = tile.url.sub('/{z}/{x}/{y}.png',"/5/18/16.png")
            %><li id='<%= tile.keyid %>' class="layers">
              <img src='<%= image %>' /><span><%= tile.name %></span></li>
          <% end
        }
      } %>
      </ol>

      <div style="display:none">
        <select id="story_layers" multiple="multiple" name="story[layers][]"></select>
        <% f.select(:layers, options_from_collection_for_select(Tile.overlays, 'keyid', 'name', @story.layers), {}, {:multiple => true, :size=> "8"} ) %>
      </div>
        
      <%= t 'story.form.layers_choose_hint' %><br/>
      <span style="display:none"><%= text_field_tag "",nil , :class=>"link_input", :readonly => true   %></span> 
      <input type="button" id="set_link" class="set_link" style="width:150px" value="Preview Map Layers">

      </div>

    <!-- report -->
    <% tab = @story.body["report"] %>
    <div class="sections">
        <h1>3. Write Your Report</h1>
        <div class="sections_report" >


          <%= t "story.form.report_hint" %>
          <%= hidden_field_tag "story[body][report][title]", tab["title"] %>
          <% tab["sections"].each_with_index do | section, index | %>
            <div class="section">

              <label>Section <%= index+1 %></label>

              <% if index > 0 %>
                <input type="button" class="delete_section_button" value="Delete">
              <% end %>
              <div class='form-row'>
                <%= label_tag       "story[body][report][sections][][title]", "#{t'story.form.title'}" %>
                <%= text_field_tag "story[body][report][sections][][title]", section["title"], :rows => 8, :class => "richtext_title" %>
              </div>

              <div class='form-row'>
                <%= label_tag     "story[body][report][sections][][text]", "#{t'story.form.description'}" %>
                <div class="editor-wrapper">
                  <%= text_area_tag "story[body][report][sections][][text]", section["text"], :rows => 10, :class => 'editor' %>
                </div>
              </div>

              <% if index == 0 %>
                <% t 'story.form.first_report_section' %>
              <% end %>

              <% if index >= 0 %>
                <div class="section_link">
                  <%= t 'story.form.new_link'  %> 
                  <div class='form-row'>
                    <%= label_tag    "story[body][report][sections][][link]", "#{t 'story.form.link'}" %>
                    <%= text_field_tag "story[body][report][sections][][link]", section["link"] , :class=>"link_input", :readonly => true   %>
                    <input type="button" id="set_link" class="set_link" value="<%= t'story.form.set' %>">
                  </div>
                </div>
              <% end %>
            </div>

          <% end #section/index%>
      <%= t 'story.form.section_link_hint' %><input type="button" id="section_link_button" class="section_link" value="<%= t'story.form.section_add_button' %>">
    </div>








    <div class='form-row'>
      <label class="standard-label"><%= t 'story.form.group' -%></label>
      <%= select(:story, :group_id, @user.groups.collect {|g| [g.title, g.id]}, { :include_blank => t('story.form.no_group') }) %>
    </div>      



    <% if @story.new_record? %> 
      <%= submit_tag t('story.form.save_button') %>
    <% else %>
      <%= submit_tag t('story.form.update_button') %>
    <% end %>

  </div>

<% end %>

<!-- modal box for link form -->
<div id="links_map_box">
  <%= t 'story.form.modal_help' %>
  <div id="links_map_box_hint"></div>
  <div id="links_sorry" style="display:none;"><%= "#{t'story.form.needs_layers'}" %></div>
  <%= content_tag "div", "", :id => "links_map", :data => {:lat => @lat, :lon => @lon, :zoom => @zoom} %>
</div>

<!-- template for adding extra location site -->
<div id="story_link_template" >
  <div class="story_link">
    <label class="standard-label"><%= t 'story.form.new_link'  %> </label>
    <input type="button" class="delete_link_button" value="Delete">
    <div class='form-row'>
      <%= label_tag "story[body][sites][sections][][links][][title]", "#{t 'story.form.title'}" %>
      <%= text_field_tag "story[body][sites][sections][][links][][title]"  %>
      <%= label_tag "story[body][sites][sections][][links][][link]", "#{t 'story.form.link'}" %>
      <%= text_field_tag "story[body][sites][sections][][links][][link]", nil , :class=>"link_input" , :readonly => true   %>
      <input type="button" id="set_link" class="set_link" value="<%= t'story.form.set' %>">
    </div>

  </div>
</div>
<!-- template for adding extra report section -->
<div id="section_link_template" >
  <div class="section">
    <label><%= t 'story.form.new_section' %></label>
    <input type="button" class="delete_section_button" value="Delete">
    <div class='form-row'>
      <%= label_tag      "story[body][report][sections][][title]", "#{t'story.form.title'}" %>
      <%= text_field_tag "story[body][report][sections][][title]", nil, :rows => 8, :class => "richtext_title" %>
    </div>

    <div class='form-row'>
      <%= label_tag     "story[body][report][sections][][text]", "#{t'story.form.description'}" %>
      <div class="editor-wrapper">
        <%= text_area_tag "story[body][report][sections][][text]", nil, :rows => 10, :class => 'editor-delayed' %>
      </div>
    </div>
    <div class="section_link">
      <%= t 'story.form.new_link'  %>
      <div class='form-row'>
        <%= label_tag "story[body][report][sections][][link]", "#{t'story.form.link'}" %>
        <%= text_field_tag "story[body][report][sections][][link]",nil , :class=>"link_input", :readonly => true   %>
        <input type="button" id="set_link" class="set_link" value="<%= t'story.form.set' %>">
      </div>
    </div>
  </div>
</div>
