<% content_for :head do %>
  <%= javascript_include_tag "story", "jquery.simplemodal.1.4.4.min" %>
<% end %>


<%= error_messages_for 'story' %>

<%= form_for(@story) do |f| %>
  <div class="diary_entry standard-form story_form">
    <fieldset>
      <legend><%= t 'story.form.metadata' -%></legend>
      <div class='form-row'>
        <label class="standard-label"><%= t 'story.form.title' -%></label>
        <%= f.text_field :title, :class => "richtext_title" %>
      </div>
      <div class='form-row'>
        <label class="standard-label"><%= t 'story.form.description' -%></label>
        <%= f.text_area :description, :rows => 8, :class => "richtext_title" %>
        <%# richtext_area :story, :description,  :rows => 8, :format => "markdown", :class => "richtext_title"%>
      </div>
      <div class="form-row clearfix">
        <div class='form-column'>
          <label class="standard-label"><%= t 'story.form.layout' -%></label>
          <%= f.select(:layout, options_for_select(["project"],"project") ) %>
        </div>
        <div class='form-column'>
          <label class="standard-label"><%= t 'story.form.language' -%></label>
          <%= f.select(:language, options_for_select(["en"],"en") ) %>
        </div>
        <div class='form-column'>
          <label class="standard-label"><%= t 'story.form.image_url' -%></label>
          <%= f.text_field :image_url, :class => "background_url", :value => "http://farm4.staticflickr.com/3687/12483987584_3b2a7cf09a_b.jpg"%>
        </div>
      </div>
 


    </fieldset>

    <fieldset class='location'>
      <legend><%= t 'story.form.location' -%></legend>
      <div><%= t 'story.form.location_hint' -%></div>
     
        <%= f.hidden_field :latitude, :size => 20, :id => "latitude", :value =>  @lat %>
        <%= f.hidden_field :longitude, :size => 20, :id => "longitude", :value => @lon  %>
        <%= f.hidden_field :zoom, :size => 20, :id => "zoom", :value => @zoom %>
 
      <%= content_tag "div", "", :id => "initial_map", :data => {:lat => @lat, :lon => @lon, :zoom => @zoom} %>

      <div>
        <label class="standard-label"><%= t 'story.form.layers' -%></label>
        <%= f.select(:layers, options_from_collection_for_select(Tile.overlays, 'keyid', 'name', @story.layers), {}, {:multiple => true, :size=> "8"} ) %>
         <div id="layer_thumb"></div>
        
        <%= t 'story.form.layers_choose_hint' %>
       
      </div>
      


    </fieldset>
    <!-- layers -->
    <% tab = @story.body["layers"] %>
    <div class="sections">

      <div class="sections_layers" >
        <fieldset>
          <legend>3 <%= tab["title"]-%></legend>
          <%= t "story.form.layers_hint" %>
          <%= hidden_field_tag "story[body][layers][title]", tab["title"] %>
          <% tab["sections"].each_with_index do | section, index | %>
            <div class="section">

              <div class='form-row'>
                <%= label_tag "story[body][layers][sections][][title]", "#{t'story.form.title'}" %>
                <%= text_field_tag "story[body][layers][sections][][title]", section["title"], :rows => 8, :class => "richtext_title" %>
              </div>

              <div class='form-row'>
                <%= label_tag "story[body][layers][sections][][text]", "#{t'story.form.description'}" %>
                <%= text_area_tag "story[body][layers][sections][][text]", section["text"], :rows => 8, :class => "richtext_title" %>
              </div>

            </div>

          <% end #section/index%>
        </fieldset>
      </div>

    </div>


    <!-- report -->
    <% tab = @story.body["report"] %>
    <div class="sections">
      <fieldset>
        <legend>4 <%= tab["title"]-%></legend>
        <div class="sections_report" >


          <%= t "story.form.report_hint" %>
          <%= hidden_field_tag "story[body][report][title]", tab["title"] %>
          <% tab["sections"].each_with_index do | section, index | %>
            <div class="section">

              <label>Section <%= index+1 %></label>

              <% if index > 0 %>
                <input type="button" class="delete_section_button" value="Delete">
              <% end %>
              <div class='form-row'>
                <%= label_tag       "story[body][report][sections][][title]", "#{t'story.form.title'}" %>
                <%= text_field_tag "story[body][report][sections][][title]", section["title"], :rows => 8, :class => "richtext_title" %>
              </div>

              <div class='form-row'>
                <%= label_tag     "story[body][report][sections][][text]", "#{t'story.form.description'}" %>
                <%= text_area_tag "story[body][report][sections][][text]", section["text"], :rows => 8, :class => "richtext_title" %>
              </div>

              <% if index == 0 %>
                <% t 'story.form.first_report_section' %>
              <% end %>

              <% if index > 0 %>
                <div class="section_link">
                  <%= t 'story.form.new_link'  %> 
                  <div class='form-row'>
                    <%= label_tag    "story[body][report][sections][][link]", "#{t 'story.form.link'}" %>
                    <%= text_field_tag "story[body][report][sections][][link]", section["link"] , :class=>"link_input"   %>
                  </div>
                </div>
              <% end %>
            </div>

          <% end #section/index%>
      </fieldset>
      <%= t 'story.form.section_link_hint' %><input type="button" id="section_link_button" class="section_link" value="<%= t'story.form.section_add_button' %>">
    </div>






    <!-- site locations -->
    <% tab = @story.body["sites"] %>
    <div class="sections">

      <div class="sections_sites" >
        <fieldset>
          <legend>5 <%= tab["title"]-%></legend>

          <%= t "story.form.sites_hint" %>
          <%= hidden_field_tag "story[body][sites][title]", tab["title"] %>
          <% tab["sections"].each_with_index do | section, index | %>
            <div class="section">

              <div class='form-row'>
                <%= label_tag "story[body][sites][sections][][title]", "#{t'story.form.title'}" %>
                <%= text_field_tag "story[body][sites][sections][][title]", section["title"], :rows => 8, :class => "richtext_title" %>
              </div>

              <div class='form-row'>
                <%= label_tag "story[body][sites][sections][][text]", "#{t'story.form.description'}" %>
                <%= text_area_tag "story[body][sites][sections][][text]", section["text"], :rows => 8, :class => "richtext_title" %>
              </div>

            </div>

          <% end #section/index%>
        </fieldset>

      </div>

      <div id="story_links" >
        <label class="standard-label"><%= t 'story.form.links' -%></label>  
        <label class="standard-label"><%= t 'story.form.link_add_hint' -%></label>
        <% @story.body["sites"]["sections"][0]["links"].each_with_index do | link, i |
          next if link["title"]== "" && link["link"]==""
        %>
          <div class="story_link">
            <label class="standard-label"><%= "#{t 'story.form.link'}: #{i+1}" -%></label>
            <input type="button" class="delete_link_button" value="Delete">

            <div class='form-row'>
              <%= label_tag "story[body][sites][sections][][links][][title]", "#{t'story.form.title'}" %>
              <%= text_field_tag "story[body][sites][sections][][links][][title]", link["title"]  %>
              <%= label_tag "story[body][sites][sections][][links][][link]", "#{t'story.form.link'}" %>
              <%= text_field_tag "story[body][sites][sections][][links][][link]", link["link"], :class=>"link_input"  %>
            </div>

          </div>
        <% end %>
      </div>
      <%= t 'story.form.site_link_hint' %><input type="button" id="story_link_button" class="story_link" value="<%= t'story.form.add_button' %>">
    </div>



    <div class='form-row'>
      <label class="standard-label"><%= t 'story.form.group' -%></label>
      <%= select(:story, :group_id, @user.groups.collect {|g| [g.title, g.id]}, { :include_blank => t('story.form.no_group') }) %>
    </div>      



    <% if @story.new_record? %> 
      <%= submit_tag t('story.form.save_button') %>
    <% else %>
      <%= submit_tag t('story.form.update_button') %>
    <% end %>

  </div>

<% end %>

<!-- modal box for link form -->
<div id="links_map_box">
  <%= t 'story.form.modal_help' %>
  <div id="links_map_box_hint"></div>
  <div id="links_sorry" style="display:none;"><%= "#{t'story.form.needs_layers'}" %></div>
  <%= content_tag "div", "", :id => "links_map", :data => {:lat => @lat, :lon => @lon, :zoom => @zoom} %>
</div>

<!-- template for adding extra location site -->
<div id="story_link_template" >
  <div class="story_link">
    <label class="standard-label"><%= t 'story.form.new_link'  %> </label>
    <input type="button" class="delete_link_button" value="Delete">
    <div class='form-row'>
      <%= label_tag "story[body][sites][sections][][links][][title]", "#{t 'story.form.title'}" %>
      <%= text_field_tag "story[body][sites][sections][][links][][title]"  %>
      <%= label_tag "story[body][sites][sections][][links][][link]", "#{t 'story.form.link'}" %>
      <%= text_field_tag "story[body][sites][sections][][links][][link]", nil , :class=>"link_input"   %>
    </div>

  </div>
</div>
<!-- template for adding extra report section -->
<div id="section_link_template" >
  <div class="section">
    <label><%= t 'form.story.new_section' %></label>
    <input type="button" class="delete_section_button" value="Delete">
    <div class='form-row'>
      <%= label_tag      "story[body][report][sections][][title]", "#{t'story.form.title'}" %>
      <%= text_field_tag "story[body][report][sections][][title]", nil, :rows => 8, :class => "richtext_title" %>
    </div>

    <div class='form-row'>
      <%= label_tag     "story[body][report][sections][][text]", "#{t'story.form.description'}" %>
      <%= text_area_tag "story[body][report][sections][][text]", nil, :rows => 8, :class => "richtext_title" %>
    </div>
    <div class="section_link">
      <%= t 'story.form.new_link'  %>
      <div class='form-row'>
        <%= label_tag "story[body][report][sections][][link]", "#{t'story.form.link'}" %>
        <%= text_field_tag "story[body][report][sections][][link]",nil , :class=>"link_input"   %>
      </div>
    </div>
  </div>
</div>
