<% content_for :head do %>
  <%= javascript_include_tag "story" %>
  <%= stylesheet_link_tag "story" %>
<% end %>

<%= error_messages_for 'story' %>
<%
  tilesets = Tile.overlays
%>

<%= form_for(@story) do |f| %>
  <div class="diary_entry standard-form story_form">
    <div class="form-section">
      <h1>1. Describe Your Report</h1>
      <div class="form-row">
        <label class="standard-label"><%= t 'story.form.title' -%></label>
        <%= f.text_field :title, :class => "richtext_title" %>
      </div>
      <div class='form-row'>
        <label class="standard-label"><%= t 'story.form.author' -%></label>
        <%= f.text_field :author, :class => "richtext_title" %>
      </div>

      <div class='form-row'>
        <label class="standard-label"><%= t 'story.form.description' -%></label>
        <div class="editor-wrapper editor-none-wrapper">
          <%= f.text_area :description, :rows => 10, :class => 'editor-none' %>
        </div>
      </div>
      <div class="form-row clearfix">
        <div class="form-column form-column-half">
          <div class="form-column">
            <label class="standard-label"><%= t 'story.form.layout' -%></label>
            <%= f.select(:layout, options_for_select(["report"],"report") ) %>
          </div>
          <div class="form-column">
            <label class="standard-label"><%= t 'story.form.language' -%></label>
            <%= f.select(:language, options_for_select(["en"],"en") ) %>
          </div>
        </div>
        <%
        report_image = @story.image_url
        report_image_empty = report_image.nil? || report_image.empty?
        %>
        <div class="form-column form-column-image <%= 'form-column-image-empty' if report_image_empty %>">
          <label for="report_image" class="standard-label">
            <%= t('story.form.image') %>
            <span class="report-image-status">
              <%= t 'story.form.image_uploading' %>
            </span>
            <a class="form-image-remove" href="#remove-image"
               data-remove="<%= t 'story.form.image_remove' %>"
               data-undo="<%= t 'story.form.image_remove_undo' %>"><%= t 'story.form.image_remove' %></a>
          </label>
          <div class="form-image-wrapper">
            <%
            if report_image_empty
              preview_url = image_url 'blank.gif'
            else
              preview_url = report_image.gsub('/large/', '/preview/')
            end
            %>
            <img class="report-image-preview" src="<%= preview_url %>" alt="" />
            <label for="report_image" class="form-image">
              <input class="report-image"
                     data-target="input.background_url" data-value="url"
                     type="file" name="report_image" id="report_image" />
            </label>
          </div>
          <%= f.hidden_field :image_url, :class => 'background_url' %>
        </div>
      </div>
    </div> <!-- .form-section -->

    <div class="form-section">
      <h1>2. Select Your Map Layers</h1>
      <!-- <div><%= t 'story.form.location_hint' -%></div> -->

      <%= f.hidden_field :latitude, :size => 20, :id => "latitude", :value =>  @lat %>
      <%= f.hidden_field :longitude, :size => 20, :id => "longitude", :value => @lon  %>
      <%= f.hidden_field :zoom, :size => 20, :id => "zoom", :value => @zoom %>

      <div class="layers-wrapper">

        <label class="standard-label"><%= t 'story.form.layers' -%></label>

        <ol id="tiles-available" class="layers clearfix">
        <% tilesets.each { |tile|
          if ! @story.layers.include?(tile.keyid) then
            image = tile.url.sub('/{z}/{x}/{y}.png',"/5/18/16.png") # image should be property of TileAPI
            %>
            <li id="<%= tile.keyid %>" class="layer">
              <div class="layer-wrapper">
                <img src="<%= image %>" />
                <span><%= tile.name %></span>
              </div>
            </li>
          <% end
        } %>
        </ol>

        <ol id="tiles-chosen" class="layers clearfix">
        <% @story.layers.each { |layer|
          tilesets.each { |tile|
            if (layer == tile.keyid) then
              image = tile.url.sub('/{z}/{x}/{y}.png',"/5/18/16.png")
              %>
              <li id="<%= tile.keyid %>" class="layer">
                <div class="layer-wrapper">
                  <img src="<%= image %>" />
                  <span><%= tile.name %></span>
                </div>
              </li>
            <% end
          }
        } %>
        </ol>

        <div style="display:none">
          <select id="story_layers" multiple="multiple" name="story[layers][]"></select>
          <% f.select(:layers, options_from_collection_for_select(tilesets, 'keyid', 'name', @story.layers), {}, {:multiple => true, :size=> "8"} ) %>
        </div>

        <%= t 'story.form.layers_choose_hint' %><br/>
        <span style="display:none"><%= text_field_tag "",nil , :class=>"link_input", :readonly => true   %></span>
        <input type="button" id="set_link" class="set_link" style="width:150px" value="Preview Map Layers">

      </div> <!-- .layers-wrapper -->
    </div> <!-- .form-section -->

    <!-- report -->
    <% tab = @story.body["report"] %>
    <div class="sections form-section">
      <h1>3. Write Your Report</h1>
      <div class="sections_report" >

        <p><%= t "story.form.report_hint" %></p>
        <%= hidden_field_tag "story[body][report][title]", tab["title"] %>
        <% tab["sections"].each_with_index do | section, index | %>
          <div class="section">

            <h2>Section <%= index+1 %></h2>

            <% if index > 0 %>
              <input type="button" class="delete_section_button" value="Delete">
            <% end %>
            <div class="form-row">
              <%= label_tag       "story[body][report][sections][][title]", "#{t'story.form.title'}", :class => 'standard-label' %>
              <%= text_field_tag "story[body][report][sections][][title]", section["title"], :rows => 8, :class => "richtext_title" %>
            </div>

            <div class="form-row">
              <%= label_tag     "story[body][report][sections][][text]", "#{t'story.form.description'}", :class => 'standard-label' %>
              <div class="editor-wrapper">
                <%= text_area_tag "story[body][report][sections][][text]", section["text"], :rows => 10, :class => 'editor' %>
              </div>
            </div>

            <% if index == 0 %>
              <% t 'story.form.first_report_section' %>
            <% end %>

            <% if index >= 0 %>
              <div class="form-row clearfix">
                <div class="form-column form-column-link">
                  <%= label_tag      "story[body][report][sections][][link]", "#{t 'story.form.link'}", :class => 'standard-label' %>
                  <%= text_field_tag "story[body][report][sections][][link]", section["link"] , :class=>"link_input", :readonly => true   %>
                  <input type="button" class="set_link" value="<%= t'story.form.set' %>">
                </div>
                <%
                attachments = section['attachments'] || []
                attachment_id = attachments.first
                attachment_empty = attachment_id.nil? || attachment_id.empty?
                %>
                <div class="form-column form-column-image <%= 'form-column-image-empty' if attachment_empty %>">
                  <label for="section_image_<%= index %>" class="standard-label">
                    <%= t('story.form.image') %>
                    <span class="report-image-status">
                      <%= t 'story.form.image_uploading' %>
                    </span>
                    <a class="form-image-remove" href="#remove-image"
                       data-remove="<%= t 'story.form.image_remove' %>"
                       data-undo="<%= t 'story.form.image_remove_undo' %>"><%= t 'story.form.image_remove' %></a>
                  </label>
                  <div class="form-image-wrapper">
                    <%
                    if report_image_empty
                      preview_url = image_url 'blank.gif'
                    else
                      preview_url = "/stories/attachment/#{attachment_id}/preview"
                    end
                    %>
                    <img class="report-image-preview" src="<%= preview_url %>" alt="" />
                    <label for="section_image_<%= index %>" class="form-image">
                      <input class="report-image"
                             data-target="#image_<%= index %>" data-value="id" data-index="<%= index %>"
                             type="file" name="section_image_<%= index %>" id="section_image_<%= index %>" />
                    </label>
                  </div>
                  <%= hidden_field_tag "story[body][report][sections][][attachments][]", attachment_id, :id => "image_#{index}" %>
                </div>
              </div>
            <% end %>
          </div>

        <% end #section/index%>
      </div>
      <p>
        <span><%= t 'story.form.section_link_hint' %></span>
        <input type="button" id="section_link_button" class="section_link" value="<%= t 'story.form.section_add_button' %>">
      </p>
    </div> <!-- .form-section -->

    <div class="form-row">
      <label class="standard-label"><%= t 'story.form.group' -%></label>
      <%= select(:story, :group_id, @user.groups.collect {|g| [g.title, g.id]}, { :include_blank => t('story.form.no_group') }) %>
    </div>

    <div>
      <% if ! @story.new_record? %>
        <% if @story.draft %>
          <label class="standard-label">Report <em>Saved as Draft</em></label>
          <%= submit_tag "Resave as Draft" %>
          <%= submit_tag "Publish" %>
        <% else %>
          <label class="standard-label">Report <em>Published</em></label>
          <%= submit_tag "Save as Draft" %>
          <%= submit_tag "Republish" %>
        <% end %>
      <% else %>
        <%= submit_tag "Save as Draft" %>
        <%= submit_tag "Publish" %>
      <% end %>
    </div>
  </div>

<% end %>

<!-- modal box for link form -->
<div id="links_map_box">
  <%= t 'story.form.modal_help' %>
  <div id="links_map_box_hint"></div>
  <div id="links_sorry" style="display:none;"><%= "#{t'story.form.needs_layers'}" %></div>
  <%= content_tag "div", "", :id => "links_map", :data => {:lat => @lat, :lon => @lon, :zoom => @zoom} %>
</div>

<div id="preview_image_box">
  <img src="<%= image_url 'blank.gif' %>" alt="" />
</div>

<!-- template for adding extra location site -->
<div id="story_link_template" >
  <div class="story_link">
    <label class="standard-label"><%= t 'story.form.new_link'  %> </label>
    <input type="button" class="delete_link_button" value="Delete">
    <div class="form-row">
      <%= label_tag "story[body][sites][sections][][links][][title]", "#{t 'story.form.title'}" %>
      <%= text_field_tag "story[body][sites][sections][][links][][title]"  %>
      <%= label_tag "story[body][sites][sections][][links][][link]", "#{t 'story.form.link'}" %>
      <%= text_field_tag "story[body][sites][sections][][links][][link]", nil , :class=>"link_input" , :readonly => true   %>
      <input type="button" id="set_link" class="set_link" value="<%= t'story.form.set' %>">
    </div>

  </div>
</div>
<!-- template for adding extra report section -->
<div id="section_link_template" >
  <div class="section">
    <h2>Section </h2>
    <input type="button" class="delete_section_button" value="Delete">
    <div class="form-row">
      <%= label_tag      "story[body][report][sections][][title]", "#{t'story.form.title'}" %>
      <%= text_field_tag "story[body][report][sections][][title]", nil, :rows => 8, :class => "richtext_title" %>
    </div>

    <div class="form-row">
      <%= label_tag     "story[body][report][sections][][text]", "#{t'story.form.description'}" %>
      <div class="editor-wrapper">
        <%= text_area_tag "story[body][report][sections][][text]", nil, :rows => 10, :class => 'editor-delayed' %>
      </div>
    </div>
    <div class="form-row clearfix">
      <div class="form-column form-column-link">
        <%= label_tag      "story[body][report][sections][][link]", "#{t 'story.form.link'}", :class => 'standard-label' %>
        <%= text_field_tag "story[body][report][sections][][link]", nil, :class=>"link_input", :readonly => true   %>
        <input type="button" class="set_link" value="<%= t'story.form.set' %>">
      </div>
      <%
      preview_url = image_url 'blank.gif'
      %>
      <div class="form-column form-column-image form-column-image-empty">
        <label for="section_image_" class="standard-label">
          <%= t('story.form.image') %>
          <span class="report-image-status">
            <%= t 'story.form.image_uploading' %>
          </span>
          <a class="form-image-remove" href="#remove-image"
             data-remove="<%= t 'story.form.image_remove' %>"
             data-undo="<%= t 'story.form.image_remove_undo' %>"><%= t 'story.form.image_remove' %></a>
        </label>
        <div class="form-image-wrapper">
          <img class="report-image-preview" src="<%= preview_url %>" alt="" />
          <label for="section_image_" class="form-image">
            <input class="report-image"
                   data-target="#image_" data-value="id" data-index=""
                   type="file" name="section_image_" id="section_image_" />
          </label>
        </div>
        <%= hidden_field_tag "story[body][report][sections][][attachments][]", nil, :id => "image_" %>
      </div>
    </div>
  </div>
</div>
