<div class='diary_post report_post'>
  <div class='post_heading clearfix'>

    <ul class='clearfix secondary-actions ' style="float:right">
      <% if @user && (story.user == @user || @user.administrator? ) -%>
        <li>
               <%= link_to t('story.story.edit_link'), edit_story_path(:id => story.id), :class => :button %>
        </li>
        <li>
          <%= link_to t('story.story.delete_link'), story_path(story), :method => :delete, :data => { confirm: t('story.story.confirm_delete') }, :class => :button %>
        </li>
        <li>
          <%= link_to (story.draft ? t('story.form.publish') : t('story.form.unpublish')), story_toggle_draft_path(:story_id => story.id), :method => :post, :data => { confirm: t('story.story.confirm_delete') }, :class => :button %>
        </li>
      <% end -%>
    </ul>

    <h2><%= link_to story.title, h(story.permalink), target: "_blank" %></h2>
    <!-- <small class='deemphasize'>
      <%= raw(t 'story.story.posted_by', :link_user => (link_to h(story.user.display_name), :controller => 'user', :action => 'view', :display_name => story.user.display_name), :created => l(story.created_at), :controller => 'stories', :action => 'index') %>
      <% if story.group %>
        <%= raw(t 'story.story.posted_in_group', :group_link => link_to(story.group.title, group_path(story.group))) %>
      <% end %>
    </small> -->

  </div>

</div>
