<% content_for :heading do %>
<% if @locale == 'en' %>
  <!-- Maybe ease foreigners back to their native page -->

    <% if t('license_page.legal_babble', :locale => I18n.locale) != t('license_page.legal_babble', :locale => :en) %>
      <h1><%= t 'license_page.native.title' %></h1>
      <p>
        <%= raw t 'license_page.native.text',
                    :native_link => link_to(t('license_page.native.native_link'),
                                                :controller => 'site',
                                                :action => 'copyright',
                                                :copyright_locale => nil),
                    :mapping_link => link_to(t('license_page.native.mapping_link'),
                                                :controller => 'site',
                                                :action => 'index') %>
      </p>
      <hr />
    <% end %>
  <% else %>
    <!-- Maybe note that this page has been translated -->
    <% if t('license_page.legal_babble', :locale => @locale) != t('license_page.legal_babble', :locale => :en) %>
      <h1><%= t 'license_page.foreign.title' %></h1>
      <p>
        <%= raw t 'license_page.foreign.text',
                    :english_original_link => link_to(t('license_page.foreign.english_link'),
                                                          :controller => 'site',
                                                          :action => 'copyright',
                                                          :copyright_locale => 'en') %>
      </p>
      <hr />
    <% end %>
  <% end %>

  <h1><%= t "license_page.legal_babble.title_html", :locale => @locale %></h1>

<% end %>

<p>Moabi DRC data is being licensed under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0</a>. This basically means you can use all non-proprietary Moabi DRC data for non-commercial purposes. We only require that you cite the data source and that you downloaded the data from Moabi DRC.</p>

<p>For more information, read the <a href="http://creativecommons.org/licenses/by/4.0/legalcode">legalcode</a> or <a href="mailto:info@crowdcover.org">write to us</a>.</p>